<!DOCTYPE html>
<html>
   <head>
      <% include templates/head.ejs %>
   </head>

   <body id="<%= pageID %>">
      <h1>Arduino Test Interface</h1>
      <ul>
         <li><a href="uno">Uno</li>
      </ul>
   </body>

   <% include templates/script.ejs %>
   <script>
      console.log($().jquery);
   </script>

</html>