<!DOCTYPE html>
<html>
   <head>
      <% include templates/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/uno.css">
   </head>
   <body id="<%= pageID %>">
      <h1>Arduino Uno Interface</h1>
      <div id="websocket_conn_status_container_id">
         <span id="websocket_conn_status_field_id" class="ws-status-field">Disconnected</span> <div id="websocket_status_led_id"></div>
         <button id="ws_close_btn_id">Close</button>
      </div>
      <div id="status_graph_container_id">
         <div id="a0_graph_label_id" class="graph_label">A0</div>
         <svg id="a0_graph_container_id" width="480" height="250"></svg>
      </div>
   </body>

   <% include templates/script.ejs %>
   <script src="//d3js.org/d3.v4.min.js"></script>
   <script src="js/uno.js"></script>
   <script src="js/d3_line_graph_v2.js"></script>
   <script>

//      var graphs = {
//         potentiometer: {
//            n: 100,
//            data: [],
//            duration: 100,
//            line: null,
//            x: null,
//            y: null,
//            scale_y: {min: -1, max: 1},
//            margin: {top: 20, right: 20, bottom: 20, left: 40}
//         },
//         emf: {
//            n: 100,
//            data: [],
//            duration: 100,
//            line: null,
//            x: null,
//            y: null,
//            scale_y: {min: 0, max: 255},
//            margin: {top: 20, right: 20, bottom: 20, left: 40}
//         },
//         motorPower: {
//            n: 100,
//            data: [],
//            duration: 100,
//            line: null,
//            x: null,
//            y: null,
//            scale_y: {min: 0, max: 150},
//            margin: {top: 20, right: 20, bottom: 20, left: 40}
//         }
//      };
//
      createGraph('a0', {
         n: 100,
         data: [],
         duration: 100,
         line: null,
         x: null,
         y: null,
         scale_y: {min: -1, max: 1},
         margin: {top: 20, right: 20, bottom: 20, left: 40}
      });
//      createGraph('emf');
//      createGraph('motorPower');
   </script>
</html>
