<!DOCTYPE html>
<html>
   <head>
      <% include templates/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/uno.css">
      <link rel="stylesheet" type="text/css" href="css/d3_graph.css">
   </head>
   <body id="<%= pageID %>">
      <% include templates/nav.ejs %>
      <div class="container">
         <div class="row">
            <div class="h1">Arduino Uno Interface</div>
         </div>
         <div class="row">
            <div class="col-lg-6">
               <div id="a0_status_graph_container_id">
                  <div id="a0_graph_label_id" class="graph_label">A0</div>
                  <div id="a0_current_value_field_id" class="graph-current-value">()</div>
                  <svg id="a0_graph_container_id" width="480" height="250"></svg>
               </div>
            </div>
         </div>
      </div>
   </body>

   <% include templates/script.ejs %>
   <script src="//d3js.org/d3.v4.min.js"></script>
   <script src="js/uno.js"></script>
   <script src="js/d3_line_graph_v2.js"></script>
   <script>
      createGraph('a0', {
         n: 100,
         data: [],
         duration: 100,
         line: null,
         x: null,
         y: null,
         scale_y: {min: 0, max: 1024},
         margin: {top: 20, right: 20, bottom: 20, left: 40}
      });
   </script>
</html>
